header {
  /* background-color: transparent; */
  width: 100%;
  height: 94px;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: all 0.5s;
}
.desk_mob_number {
  text-decoration: none;
  color: white;
  transition: all 0.5s;
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.desk_mob_number:hover {
  opacity: 0.6;
  transition: all 0.5s;
}
.good {
  background: rgba(34, 34, 34, 0.5);

  transition: all 0.5s;
}

.header_wrapper {
  height: 100%;
  /* max-width: 1620px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 150px 16px 150px;
  margin: 0 auto;
}

.navbar {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0;
}
.arrow_icon {
  height: 24px;
  width: 24px;
}
.stick {
  display: block;
  width: 30px;
  height: 3px;
  margin: 6px auto;
  background-color: white;
  transition: 0.2s;
}
.logo_wrapper {
  cursor: pointer;
  z-index: 100;
}
.main-logo {
  height: 62px;
  width: 64px;
}
.logo-color {
  width: 100%;
  max-height: 60px;
  z-index: 100;
  /* animation-duration: 0.5s;
  animation-name: fadelogoin;
  animation-timing-function: linear; */
}
.logo-hide {
  display: none;
}
.burger {
  display: none;
}

.popup {
  display: none;
}

.noscroll {
  overflow: hidden;
}
.navbar_menu {
  display: flex;
  gap: 58px;
  height: 100%;
  align-items: center;
}
.nav_elem {
  position: relative;
  text-decoration: none;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: var(--main-text-color);
  transition: 0.5s;
  cursor: pointer;
}
.nav_elem:hover {
  transition: 0.5s;
}
.navbar_menu p:after,
.navbar_menu p:before {
  content: '';
  position: absolute;
  display: block;
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.3s ease;
}

.navbar_menu p:after {
  width: 0%;
  height: 0%;
  top: -3px;
  left: -10px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

.navbar_menu p:before {
  width: 0%;
  height: 0%;
  right: -10px;
  bottom: -3px;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

.navbar_menu p:hover::before,
.navbar_menu p:hover::after {
  width: 10px;
  height: 10px;
  border-color: #fff;
}
.mob_menu_buttons {
  width: 100%;
}

@media (max-width: 1620px) {
  .header_wrapper {
    padding: 16px 100px 16px 100px;
  }
}
@media (max-width: 1390px) {
  .navbar_menu {
    gap: 25px;
  }
}
@media (max-width: 1200px) {
  .header_wrapper {
    padding: 16px 50px 16px 50px;
  }
}
@media (max-width: 1050px) {
}
@media (max-width: 1050px) {
  .navbar {
    padding: 0;
  }
  .navbar_menu {
    display: none;
  }

  .burger {
    display: flex;
    align-items: center;
    z-index: 100;
  }
  .desk_mob_number {
    font-size: 20px;
  }
  .stick {
    display: block;
    width: 24px;
    height: 3px;
    margin: 2.5px auto;
    background-color: var(--main-text-color);
    transition: 0.2s;
    border-radius: 3px;
  }

  .burger_space {
    padding: 10px 0;
    cursor: pointer;
  }

  /* .logo_wrapper {
    padding: 10px 0px;
  } */

  .popup {
    position: absolute;
    right: 100%;
    width: 100%;
    height: calc(100svh);
    z-index: 50;
    display: none;
    overflow: hidden;
    top: 0;
    justify-content: flex-end;
    background-color: var(--main-bg-color);
  }

  .popup.open {
    position: fixed;
    left: 0;
    display: flex;
    animation-duration: 0.5s;
    animation-name: fadein;
    animation-timing-function: linear;
  }

  @keyframes fadein {
    from {
      background-color: rgba(255, 255, 255, 0);
    }

    to {
      background-color: var(--main-bg-color);
    }
  }

  .popup_textblock {
    position: absolute;
    left: 100%;
    width: 100%;
    background-color: var(--main-bg-color);
    align-items: center;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
  }

  .navbar_menu_mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    padding-top: 74px;
  }

  .nav_elem_mobile {
    display: block;
    padding: 9px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 1px;
    color: var(--usual-decorations);
  }

  .nav_elem_mobile:hover {
    background-color: gray;
    color: white;
  }

  .popup_textblock.slidein {
    position: relative;
    display: flex;
    left: 0;
    animation-duration: 0.5s;
    animation-name: slidein;
    animation-timing-function: linear;
  }

  @keyframes slidein {
    from {
      left: 100%;
    }

    to {
      left: 0;
    }
  }

  @keyframes fadeout {
    from {
      background-color: var(--main-bg-color);
    }

    to {
      background-color: rgba(255, 255, 255, 0);
    }
  }

  @keyframes slideout {
    from {
      left: 0;
      background-color: var(--main-bg-color);
    }

    to {
      left: 100%;
      background-color: rgba(255, 255, 255, 0);
    }
  }
}

.popup.close {
  background-color: rgba(255, 255, 255, 0);
  animation-name: fadeout;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

.popup_textblock.slideout {
  left: 100%;
  animation-name: slideout;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  background-color: var(--main-bg-color);
}

.burger_space.active .stick:nth-child(2) {
  opacity: 0;
}

.burger_space.active .stick:nth-child(1) {
  transform: translateY(5.66px) rotate(45deg);
  background-color: black;
}

.burger_space.active .stick:nth-child(3) {
  transform: translateY(-5.66px) rotate(-45deg);
  background-color: black;
}
@media (max-width: 600px) {
  .header_wrapper {
    padding: 12px 20px 12px 20px;
  }

  .main-logo {
    height: 40px;
    width: 41px;
    transition: all 2s;
  }
  .logo-color {
    width: 41px;
    height: 40px;
    transition: all 2s;
  }
  header {
    height: 64px;
  }
  .mob_button {
    display: flex;
  }
  .fly_space {
    top: 64px;
    height: calc(100svh - 124px);
  }
}
@media (max-height: 380px) {
  .header_wrapper {
    padding: 12px 20px 12px 20px;
  }

  .main-logo {
    height: 40px;
    width: 41px;
    transition: all 2s;
  }
  .logo-color {
    width: 41px;
    height: 40px;
    transition: all 2s;
  }
  header {
    height: 64px;
  }
  .nav_elem_mobile {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
  }
}
